{% extends 'base.html.twig' %}

{% block title %}Offer index{% endblock %}

{% block body %}
<v-container>
    <h1>Offer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Cost</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            {{ offer|json_encode() }}
            <Offer data="{{ offer|json_encode() }}"
                show="{{ path('offer_show', {'id': offer.id}) }}"
                edit="{{ path('offer_edit', {'id': offer.id}) }}">
            </Offer>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offer_new') }}">Create new</a>
</v-container>
{% endblock %}