<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width,initial-scale=1'/>
        <meta name='HandheldFriendly' content='true'/>
        <meta name='MobileOptimized' content='width'/>
        <meta name='apple-mobile-web-app-capable' content='yes'/>
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    </head>
    <body style="opacity: 0">
        <div id="app">
            <v-app>
                <v-app-bar app elevation="3" rounded="pill" class="ma-3 blur">
                    <v-img v-if="this.darkMode" max-width="50" src="{{ asset('build/images/logo_dark.png') }}"></v-img>
                    <v-img v-else max-width="50" src="{{ asset('build/images/logo.png') }}"></v-img>
                    <v-divider vertical inset class="mx-2"></v-divider>
                    <v-toolbar-title v-text="this.title"></v-toolbar-title>
                </v-app-bar>
                <v-main>
                    {% block body %}{% endblock %}
                </v-main>
                <v-footer app padless rounded elevation="3">
                    <v-bottom-sheet overlay-opacity="0" content-class="rounded-t-xl" @input="this.toggleSettingSheet" v-model="this.settingSheet">
                        <v-sheet class="rounded-t-xl blur" min-height="30vh">
                            <v-list color="transparent">
                                <v-list-item>
                                    <v-list-item-icon>
                                        <v-icon>mdi-brightness-6</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                        <v-list-item-title>Dark mode</v-list-item-title>
                                    </v-list-item-content>
                                    <v-list-item-action>
                                        <v-switch @click="this.toggleDarkMode" v-model="this.darkMode"></v-switch>
                                    </v-list-item-action>
                                </v-list-item>
                            </v-list>
                        </v-sheet>
                    </v-bottom-sheet>
                </v-footer>
                <v-bottom-navigation app grow class="blur">
                    {% if app.user %}
                        {% set profile_link = path('customer_edit', {'id': app.user.id}) %}
                        {% if app.user.subscriptions|length > 0 %}
                            {% set my_list_link = path('subscription_edit', {'id': app.user.subscriptions[0]}) %}
                        {% else %}
                            {% set my_list_link = path('offer_index') %}
                        {% endif %}
                    {% else %}
                        {% set profile_link = path('customer_login') %}
                        {% set my_list_link = path('customer_login') %}
                    {% endif %}
                    <v-btn href="{{ profile_link }}">
                        <span>Profile</span>
                        <v-icon>mdi-account-outline</v-icon>
                    </v-btn>
                    <v-btn href="{{ my_list_link }}">
                        <span>My list</span>
                        <v-icon>mdi-playlist-check</v-icon>
                    </v-btn>
                    <v-btn @click="this.toggleSettingSheet">
                        <span>Setting</span>
                        <v-icon>mdi-settings</v-icon>
                    </v-btn>
                </v-bottom-navigation>
                {% block alert %}{% endblock %}
            </v-app>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
