<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-app-bar app>
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>
                    <v-toolbar-title>
                        {% block page_title %}{% endblock %}
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <strong>
                        {% if app.user %}
                            {{app.user.username}} | <a href="{{ path('app_logout') }}">Logout</a>
                        {% else %}
                            <a href="{{ path('app_login') }}">Login</a>
                        {% endif %}
                    </strong>
                </v-app-bar>
                <v-main>
                    {% block body %}{% endblock %}
                </v-main>
                <v-footer app>
                    {% block alert %}{% endblock %}
                </v-footer>
            </v-app>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
