{% extends 'base.html.twig' %}

{% block title %}Landing page{% endblock %}

{% block banner %}{% endblock %}

{% block body %}
    <v-container v-scroll.#target="alert(123)" id="introducing" fluid>
        <v-row>
            <v-col md="6">
                <p class="font-weight-light">
                    Light weight text.
                </p>
                <v-btn href="{{ path('offer_index') }}" color="primary" elevation="0" rounded x-large>All offers</v-btn>
                <v-btn href="{{ path('vendor_register') }}" outlined rounded x-large>Became partner</v-btn>
            </v-col>
        </v-row>
    </v-container>
    <v-container id="partners" fluid>
        <Partners data="{{ vendors|serialize(format = 'json') }}"></Partners>
    </v-container>
    <v-container id="principles" fluid class="pa-0">
        <user-tabs vendor_register="{{ path('vendor_register') }}"
                   customer_register="{{ path('customer_register') }}">
        </user-tabs>
    </v-container>
    <v-container id="examples" fluid>
        <v-row>
            <v-col md="6">
                <List data="{{ offers|serialize(format = 'json') }}"></List>
            </v-col>
            <v-col md="6">
                <p class="font-weight-light">
                    Light weight text.
                </p>
            </v-col>
        </v-row>
    </v-container>
    <v-container id="faq" fluid>
        <v-row justify="center">
            <v-expansion-panels accordion class="ma-3">
                <v-expansion-panel v-for="(item,i) in 5" :key="i">
                    <v-expansion-panel-header>Item</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-row>
    </v-container>
{% endblock %}